<p id="notice"><%= notice %></p>

<h1>Titiata</h1>

<table>
  <thead>
    <tr>
      <th>Titiatum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @titiata.each do |titiatum| %>
      <tr>
        <td><%= titiatum.titiatum %></td>
        <td><%= link_to 'Show', titiatum %></td>
        <td><%= link_to 'Edit', edit_titiatum_path(titiatum) %></td>
        <td><%= link_to 'Destroy', titiatum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Titiatum', new_titiatum_path %>
